.footer {
  @include adaptiveValue("padding-top", 135, 40);
  @include adaptiveValue("padding-bottom", 100, 40);
  font-family: 'Roboto', sans-serif;
  background-color: #363636;

  &__container {
    display: flex;
    box-sizing: border-box;

    @media (max-width:$tablet){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px; 
    }
  }

  &__title {
    display: block;
    margin-bottom: rem(23);
    font-weight: 500;
  }

  &__contact {
    @include adaptiveValue("margin-right", 90, 0);
  }

  &__contact-item {
    margin-bottom: rem(21);
    font-size: rem(12);
    font-weight: 400;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__contact-link {
    display: block;
    max-width: rem(115);
    width: 100%;
    padding-left: rem(20);
    opacity: 0.7;
    position: relative;
    outline: transparent;
    transition: all linear 0.2s;

    &::before {
      @include pseudo;
      top: 2px;
      left: 0;
      width: 12px;
      background-color: $default;
      transition: all linear 0.2s;
    }

    &:focus {
      box-shadow: 0 0 0 2px $accent;
    }
    
    &:hover {
      opacity: 1;
    }
    
    &:active {
      color: $accent;

      &::before {
        background-color: $accent;
      }
    }
  }

  &__contact-link--position {
    &::before {
      height: 15px;
      mask: url('../images/sprite.svg#position') center / cover no-repeat;
    }
  }
  
  &__contact-link--tel {
    &::before {
      height: 12px;
      mask: url('../images/sprite.svg#tel') center / cover no-repeat;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    font-size: rem(12);
    font-weight: 400;
  }

  &__item {
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__links {
    @include adaptiveValue("margin-right", 90, 0);
  }

  &__links-link {
    opacity: 0.7;
    outline: transparent;
    transition: all linear 0.2s;

    &:focus {
      box-shadow: 0 0 0 2px $accent;
    }
    
    &:hover {
      opacity: 1;
    }
    
    &:active {
      color: $accent;

      &::before {
        background-color: $accent;
      }
    }
  }

  &__about {
    @include adaptiveValue("margin-right", 60, 0);
  }

  &__about-link {
    opacity: 0.7;
    outline: transparent;
    transition: all linear 0.2s;

    &:focus {
      box-shadow: 0 0 0 2px $accent;
    }
    
    &:hover {
      opacity: 1;
    }
    
    &:active {
      color: $accent;

      &::before {
        background-color: $accent;
      }
    }
  }

  &__subscription {
    @include adaptiveValue("margin-right", 58, 0);
  }

  &__subscription-list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(15);
  }
  
  &__subscription-link {
    display: block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    outline: transparent;
    transition: all linear 0.2s;

    &:focus {
      box-shadow: 0 0 0 2px $accent;
      opacity: 1;
    }
    
    &:hover {
      opacity: 1;
    }
    
    &:active {
      opacity: 1;
    }
  }

  &__newsletter {
    flex-grow: 1;

    @media (max-width:$tablet){
      grid-column: span 2;
    }
  }
  
  &__newsletter-form {
    max-width: rem(387);
    width: 100%;
  }

  &__newsletter-input {
    padding-top: 21px;
    padding-bottom: 20px;

    &::placeholder {
      color: #333333;
    }
  }

  &__newsletter-form {
    @include adaptiveValue("margin-bottom", 38, 15);
  }

  &__newsletter-list {
    display: flex;
  }

  &__newsletter-item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__newsletter-img {
    object-fit: cover;
  }
}