.info {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 100px 0;

  @media (max-width:$mobile){
     background-position: 75%; 
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: rem(24);
    max-width: 500px;
    width: 100%;
    text-align: start;  
  }

  &__text {
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
    @include adaptiveValue("margin-bottom", 43, 20);
    max-width: 440px;
    width: 100%;
  }
}